bin/drugsim_ORd-static
bin/drugsim_CiPAORdv1.0
bin/drugsim_ToR-ORd
bin/drugsim_ToR-ORd-dynCl
bin/drugsim_ORd-static_postprocessing
bin/drugsim_CiPAORdv1.0_postprocessing
bin/drugsim_ToR-ORd_postprocessing
bin/drugsim_ToR-ORd-dynCl_postprocessing
bin/drugsim_Grandi
bin/drugsim_Grandi_postprocessing
bin/drugsim_CiPAORdv1.0_Land
bin/drugsim_CiPAORdv1.0_Land_postprocessing
bin/drugsim_ORd-static_Land
bin/drugsim_ORd-static_Land_postprocessing
bin/drugsim_ToR-ORd_Land
bin/drugsim_ToR-ORd_Land_postprocessing
bin/simulation_cpu/requests/*filled*
bin/simulation_cpu_postprocessing/requests/*filled*
*.tex
*.pdf
*.aux
*.log
*.out
*.o
*.zip
*.pid
*.b64
*camel*
*.swp
logfile
results
